.category-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  background: #000;
  padding: 15px;
  border-radius: 50px;
  width: fit-content;
  margin: 20px auto;
}

.category-card a {
  color: white;
  text-decoration: none;
  padding: 10px 22px;
  display: block;
  border-radius: 30px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.category-card a:hover {
  background: #fff;
  color: #000;
}
